
<div class="main-content">
    <div class="container-fluid">
<app-traductor></app-traductor>
        <app-agregar-registro></app-agregar-registro>
        <div class="card-body">
            <div class="table-responsive">
                <mat-form-field class="example-full-width">
                    <mat-label>Grupos</mat-label>
                    <mat-select [(ngModel)]="grupo" name="Grupo" required>
                        <mat-option *ngFor="let grupo of grupos" [value]="grupo.nombre">
                            {{grupo.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <td align="center"> <button type=button class="btn btn-primary"  title="delete registro"
                                            (click)="getRegistrosGrupo(grupo)">Listar Actividades</button> </td>
        </div>

        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0">{{ 'HOME.ETIQUETAREGISTROACTIVIDAD' | translate }}</h4>
                    <p class="card-category">{{ 'HOME.ETIQUETALISTAACTIVIDAD' | translate }}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead align="center">

                            <th>{{ 'HOME.ETIQUETAID' | translate }}</th>
                            <th>{{ 'HOME.ETIQUETAIDDOCENTE' | translate }}</th>
                            <th>{{ 'HOME.ETIQUETAIDGRUPO' | translate }}</th>
                            <th>{{ 'HOME.ETIQUETAIDACTIVIDAD' | translate }}</th>
                            <th>{{ 'HOME.ETIQUETAFECHA' | translate }}</th>
                            <th>{{ 'HOME.ETIQUETATIEMPO' | translate }}</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let registro of registroActividadesDTO">
                                <td align="center">

                                    <a routerLink="/detail/{{registro.id}}">
                                        <span class="badge"></span> {{registro.id}}
                                    </a>
                                </td>

                                <td align="center">{{ registro.docente}}</td>
                                <td align="center">{{ registro.grupo}}</td>
                                <td align="center">{{ registro.actividad}}</td>
                                <td align="center">{{ registro.fecha | date: "dd-MMM-yy"}}</td>
                                <td align="center">{{ registro.tiempo }} </td>
                                <td align="center"> <button type=button class="btn btn-primary"  title="delete registro"
                                                            (click)="clickMethod(registro)">x</button> </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
