<h1>Lista de Actividades Realizadas</h1>
<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID</th>
      <th>ID Docente</th>
      <th>ID Grupo</th>
      <th>ID Actividad</th>
      <th>Fecha</th>

    </tr>

    <tr *ngFor="let registro of registroActividades">
      <td>{{ registro.id }}</td>
      <td>{{ registro.id_docente  }}</td>
      <td>{{ registro.id_grupo  }}</td>
      <td>{{ registro.id_actividad  }}</td>
      <td>{{ registro.fecha  }}</td>

    </tr>
  </table>
</div>

