<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Proyecto Integrador I
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        Carlos Carrascal, José Duván Valencia, Bryan Cardenas
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Ingenieria de Sistemas
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Ude@
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
