<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">{{ 'HOME.ETIQUETAGRUPOS' | translate }}</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-grupo></app-grupo>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{ 'HOME.ETIQUETAGRUPO' | translate }}</button>
  </div>
</ng-template>

<button type="button" class="btn btn-outline-dark" (click)="open(content)">{{ 'HOME.ETIQUETALISTARGRUPOS' | translate }}</button>

<hr>

<pre>{{closeResult}}</pre>
