<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Listado de Grupos</h4>
                    <p class="card-category"> Listado de grupos activos</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                        <th>ID</th>
                        <th>Estado</th>
                        <th>Docente</th>
                        <th>Nombre</th>
                         <th>Periodo</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let grupo of grupos">
                        <td>{{ grupo.id}}</td>
                        <td>{{ grupo.estado}}</td>
                        <td>{{ grupo.idDocente}}</td>
                        <td>{{ grupo.nombre}}</td>
                        <td>{{ grupo.periodo}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>

