<div class="main-content">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Historial de registros de actividades</h4>
            <p class="card-category">Historial de registros de actividades de docente</p>
          </div>
        <div class="card-body">
          <div *ngIf="registroActividad">
            <div>
              <div class="row">

                      <div class="col-md-2">
                          <mat-form-field class="example-full-width">
                              <input matInput [(ngModel)]="registroActividad.id"/>
                          </mat-form-field>
                      </div>

                  <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="registroActividad.docente"/>
                      </mat-form-field>
                  </div>

                      <mat-form-field class="example-full-width">
                          <mat-label>Grupos</mat-label>
                          <mat-select [(ngModel)]="registroActividad.grupo" name="Grupo" required>
                              <mat-option *ngFor="let grupo of grupos" [value]="grupo.nombre">
                                  {{grupo.nombre}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                      </div>

                    <mat-form-field class="example-full-width">
                        <mat-label>Actividades</mat-label>
                        <mat-select [(ngModel)]="registroActividad.actividad" name="Actividad" required>
                            <mat-option *ngFor="let acti of actividades" [value]="acti.name">
                                {{acti.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                      <mat-form-field class="example-full-width">
                      <input matInput type="date" [(ngModel)]="registroActividad.fecha"/>
                      </mat-form-field>

                    <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="registroActividad.tiempo"/>
                    </mat-form-field>
                    </div>

                  </div>
                  <button type="button" class="btn btn-outline-dark" (click)="goBack()">Atras</button>
                  <button type="button" class="btn btn-outline-dark" (click)="save()">Guardar"</button>
                </div>
        </div>
        </div>
      </div>
    </div>
    </div>

</div>






