<div class="main-content">
    <div class="row">
        <div class="col-md-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Fecha" type="Date">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Curso" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Grupo" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Actividad" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Tiempo" type="text">
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Registro de Actividades</h4>
                        <p class="card-category"> Registro de actividades de los docentes</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Grupo
                                </th>
                                <th>
                                    Actividad
                                </th>
                                <th>
                                    Tiempo
                                </th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
